/* COMMON
   ======================= */
.container {
   width: 85%;
   margin: auto;
}
/* ======================= */

/* MACRO LAYOUT
   ======================= */
header {
   background-color: lightgrey;
   border-bottom: 3px solid ghostwhite
}
main {
   padding-top: 30px;
}
/* ======================= */

/* MICRO LAYOUT
   ======================= */
.logo {
   width: 200px;
}
h1 {
   padding-bottom: 20px;
}
.nav-bar {
   height: 50px;
   width: 100%;
   background: linear-gradient(90deg,#41b782,#86d169)
}

.product-img img {
   width: 200px;
}
.product-info {
   padding-left: 40px;
}
.product-info h2 {
   padding-bottom: 20px;
}
.product-info li {
   padding-top: 10px;
   text-indent: 1em;
}
/* ======================= */