<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> -->
    <link rel="stylesheet" href="css/my_frame.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

</head>

<body>
    <div id="root">
        <header class="flexer col center center-cross">
            <img :src="logo" class="logo" alt="vue logo">
            <h1>{{ message }}</h1>
            <nav class="nav-bar"></nav>
        </header>
        <main class="container flexer">
            <div class="product-img">
                <img :src="image" alt="">
            </div>
            <div class="product-info">
                <h2>{{ product }}</h2>
                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>
                <ul>
                    <li v-for="detail in details"> {{ detail }}</li>
                </ul>
            </div>

        </main>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="js/script.js"></script>
</body>

</html>